.addBook {
    
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    align-items: center;
    box-shadow: 1px 2px 3px 1px;
}

.input_box {
    width: 500px;
    padding: 10px;
    margin: 10px;
}